<section class="example-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="idCodigo">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element"> {{element.idCodigo}} </td>
    </ng-container>

    <ng-container matColumnDef="nomeFilme">
      <th mat-header-cell *matHeaderCellDef> Nome do Filme </th>
      <td mat-cell *matCellDef="let element"> {{element.nomeFilme}} </td>
    </ng-container>

    <ng-container matColumnDef="salaFilme">
      <th mat-header-cell *matHeaderCellDef> Sala do Filme </th>
      <td mat-cell *matCellDef="let element"> {{element.salaFilme}} </td>
    </ng-container>

    <ng-container matColumnDef="assentoSala">
      <th mat-header-cell *matHeaderCellDef> Assento da Sala </th>
      <td mat-cell *matCellDef="let element"> {{element.assentoSala}} </td>
    </ng-container>

    <ng-container matColumnDef="dataFilme">
      <th mat-header-cell *matHeaderCellDef> Data e Hora do Filme </th>
      <td mat-cell *matCellDef="let element"> {{element.dataFilme}} </td>
    </ng-container>

    <ng-container matColumnDef="nomeCliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
    </ng-container>

    <ng-container matColumnDef="tipoIngresso">
      <th mat-header-cell *matHeaderCellDef> Tipo Ingresso </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoIngresso}} </td>
    </ng-container>

    <ng-container matColumnDef="categoriaFilme">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element"> {{element.categoriaFilme}} </td>
    </ng-container>
    <!-- Ação column-->
    <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef> Excluir </th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab color="warn" (click)="confirmarExcluir(element)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
    </ng-container>
    <ng-container matColumnDef="acao2">
      <th mat-header-cell *matHeaderCellDef> Alterar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="warn" [routerLink]="['/ingresso', element.idCodigo]" >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

