<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="form"
>
  <div class="formingresso">
    <h1>Formulário para {{acao}}</h1>
    <mat-form-field>
      <mat-label>Nome do Cliente</mat-label>
      <input matInput formControlName="nomeCliente">
      <mat-error *ngIf="handleError('nomeCliente', 'required')">
        O nome é obrigatório
      </mat-error>
      <mat-error *ngIf="handleError('nomeCliente', 'minlength')">
        O minimo de 3 caracteres
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nome do Filme</mat-label>
      <input matInput formControlName="nomeFilme">
      <mat-error *ngIf="handleError('nomeFilme', 'required')">
        O nome do filme é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sala do Filme</mat-label>
      <input matInput formControlName="salaFilme">
      <mat-error *ngIf="handleError('salaFilme', 'required')">
        O numero da sala é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Assento da Sala</mat-label>
      <input matInput formControlName="assentoSala">
      <mat-error *ngIf="handleError('nomeCliente', 'required')">
        O assento é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Data do Filme</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dataFilme">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="handleError('dataFilme', 'required')">
        A data é Obrigatória
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categoria do Filme</mat-label>
      <input matInput formControlName="categoriaFilme">
      <mat-error *ngIf="handleError('categoriaFilme', 'required')">
        A categoria é obrigatória
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tipo de Ingresso</mat-label>
      <mat-select formControlName="tipoIngresso">
        <mat-option value="Inteiro">Inteiro</mat-option>
        <mat-option value="Meia">Meia</mat-option>
      </mat-select>
      <mat-error *ngIf="handleError('tipoIngresso', 'required')">
        O tipo é obrigatório
      </mat-error>
    </mat-form-field>
  </div>
    <button mat-raised-button type="submit" color="warn">Salvar</button>
</form>
