<mat-card>
  <mat-card-header>
    <mat-card-title>
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-fab class="btAdiciona" color="warn" [routerLink]="['/ingresso', 'novo']">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-fab color="warn" class="btCompras" [routerLink]="['/comprar']">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content>
    <router-outlet>
    </router-outlet>
  </mat-card-content>
</mat-card>
